<form action ="/trainingFormFile/saveTraining" method="POST">
    <h1>Training form</h1>

    <p>
        <label for="name"> Training name </label>
        <input type="text" name="Nazwa" placeholder="Login" required autofocus>
    </p>
    <p>
        <label for="code"> Training code </label>
        <input type = "string" name="code" placeholder="Code" required>
    </p>
    <p>
        <label for="price"> Training price </label>
        <input type = "string" name="price" placeholder="Price" required>
    </p>
    <p>
        <label for="days"> How many days </label>
        <input type = "string" name="days" placeholder="Days" required>
    </p>
    <p>
        <button type="submit">Save training</button>
    </p>

</form>